@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBlack.woff2");
  font-weight: 910;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "yekanbakhweb";
  margin: 0;
  background-color: #282828;
  background-image: url("img/plano_tehran.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainHeaderBack {
  color: white;
}
.mainHeaderBack .mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainHeaderBack .mainHeader .menuSection ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainHeaderBack .mainHeader .menuSection ul li {
  position: relative;
  list-style: none;
  padding: 5px 15px;
  margin: 0 5px;
  font-weight: 600;
  transition: 0.3s;
}
.mainHeaderBack .mainHeader .menuSection ul li:hover {
  border-bottom: 1px solid #cdb578;
}
.mainHeaderBack .mainHeader .menuSection ul li ul {
  z-index: 100;
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-top: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.mainHeaderBack .mainHeader .menuSection ul li ul :last-child {
  border: none;
}
.mainHeaderBack .mainHeader .menuSection ul li ul li {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 5px;
}
.mainHeaderBack .mainHeader .menuSection ul li ul li a {
  font-weight: 300;
}
.mainHeaderBack .mainHeader .menuSection ul li:hover ul {
  visibility: visible;
  opacity: 1;
}
.mainHeaderBack .mainHeader .menuSection #menu-item-21 {
  color: #cdb578;
  font-weight: 700;
}
.mainHeaderBack .mainHeader .signSection {
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .signSection svg {
  margin-right: 20px;
}
.mainHeaderBack .mainHeader .signSection svg path, .mainHeaderBack .mainHeader .signSection svg circle {
  fill: white;
}
.mainHeaderBack .mainView {
  max-width: 1280px;
  margin: auto;
}
.homePageBack .mainHome {
  color: white;
  max-width: 1280px;
  margin: auto;
}
.homePageBack .mainHome .mainHomeIntroSectionParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle {
  width: 35%;
  text-align: right;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle h2 {
  font-size: 40px;
  margin-bottom: 0;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle span {
  color: #cdb578;
  display: block;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle .mainHomeIntroInnerButtom {
  display: flex;
  flex-wrap: wrap;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle .mainHomeIntroInnerButtom .readMore {
  background-color: #cdb578;
  color: black;
  border-radius: 7px;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle .mainHomeIntroInnerButtom div {
  margin-left: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle .mainHomeIntroInnerButtom div span {
  display: flex;
  align-items: center;
  margin-right: 7px;
  transition: 0.3s;
  cursor: pointer;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerTitle .mainHomeIntroInnerButtom div:hover span {
  transform: translateX(-7px);
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerImg {
  width: 62%;
  position: relative;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerImg .counterNumbersInner {
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 8px;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerImg .counterNumbersInner div {
  padding: 15px 0;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerImg .counterNumbersInner .counterNumber {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  color: #cdb578;
  padding: 0;
}
.homePageBack .mainHome .mainHomeIntroSectionParent .mainHomeIntroInnerImg .counterNumbersInner .counterTitle {
  margin: 0;
  padding: 0;
}
.homePageBack .mainHome .mainHomeOurServices {
  padding: 150px 0;
  text-align: center;
}
.homePageBack .mainHome .mainHomeOurServices .serviceSwiper {
  margin-top: 50px;
}
.homePageBack .mainHome .mainHomeOurServices h2 {
  color: #cdb578;
  font-size: 25px;
  margin: 0;
  font-weight: 800;
}
.homePageBack .mainHome .mainHomeOurServices span {
  font-size: 13px;
  text-align: center;
  margin-bottom: 50px !important;
  font-weight: 100;
}
.homePageBack .mainHome .mainHomeOurServices .swiper-pagination {
  position: unset !important;
}
.homePageBack .mainHome .mainHomeOurServices .swiper-pagination span {
  background: white;
  opacity: 100%;
}
.homePageBack .mainHome .mainHomeOurServices .swiper-pagination .swiper-pagination-bullet-active {
  background: #cdb578;
}
.homePageBack .mainHome .mainHomeOurServices .mainHomeOurServicesCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.homePageBack .mainHome .mainHomeOurServices .mainHomeOurServicesCards .mainHomeOurServicesCard {
  width: 23%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.484);
  border-radius: 10px;
  background-image: linear-gradient(rgba(19, 19, 19, 0.651), rgb(40, 40, 40));
  padding: 50px 0;
}
.homePageBack .mainHome .mainHomeOurServices .mainHomeOurServicesCards .mainHomeOurServicesCard path, .homePageBack .mainHome .mainHomeOurServices .mainHomeOurServicesCards .mainHomeOurServicesCard circle {
  fill: #cdb578;
}
.homePageBack .mainHome .mainHomeOurServices .mainHomeOurServicesCards .mainHomeOurServicesCard h3 {
  font-size: 16px;
  font-weight: 600;
}
.homePageBack .mainHome .mainHomeOurServices .mainHomeOurServicesCards .mainHomeOurServicesCard p {
  margin: 0;
  padding: 0 30px;
  font-size: 13px;
  font-weight: 300;
}
.homePageBack .mainHome .mainHomeVrfServices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText {
  width: 45%;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText h4 {
  font-size: 14px;
  font-weight: 300;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText h2 {
  font-size: 40px;
  margin: 15px 0;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText h2 span {
  color: #cdb578;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  margin: 10px 0 25px;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText a {
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 10px;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText a span {
  margin-right: 7px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText a svg {
  vertical-align: middle;
}
.homePageBack .mainHome .mainHomeVrfServices .mainHomeVrfServicesText a:hover span {
  transform: translateX(-7px);
}
.homePageBack .mainHomeOurProject {
  padding: 75px 0;
  text-align: center;
}
.homePageBack .mainHomeOurProject h2 {
  color: #cdb578;
  font-size: 25px;
  margin: 0;
  font-weight: 800;
}
.homePageBack .mainHomeOurProject span {
  font-size: 13px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 100;
}
.homePageBack .mainHomeOurProject a {
  text-align: left;
  display: block;
}
.homePageBack .mainHomeOurProject .swiper-pagination {
  position: unset !important;
}
.homePageBack .mainHomeOurProject .swiper-pagination span {
  background: white;
  opacity: 100%;
}
.homePageBack .mainHomeOurProject .swiper-pagination .swiper-pagination-bullet-active {
  background: #cdb578;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 10px;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard {
  width: 23%;
  height: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText h3 {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText span {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText span .svgTwo {
  opacity: 0%;
  visibility: hidden;
  transition: 0.3s;
  transform: translateX(45px);
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText span .svgOne {
  opacity: 100%;
  transition: 0.3s;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText .homeInnerProjectCardGradient {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 58%;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s !important;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard .homeInnerProjectCardText .homeInnerProjectCardGradient p {
  padding: 0 20px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 40PX;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard:hover .homeInnerProjectCardGradient {
  top: 35% !important;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard:hover {
  transform: translateY(-20px);
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard:hover .svgOne {
  visibility: hidden;
  opacity: 0% !important;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard:hover .svgTwo {
  visibility: visible !important;
  opacity: 100% !important;
}
.homePageBack .mainHomeOurProject .mainHomeOurProjectCards .mainHomeOurProjectCard img {
  -o-object-fit: cover;
     object-fit: cover;
}
.homePageBack .mainHomeRequest {
  padding: 75px 0;
  text-align: center;
}
.homePageBack .mainHomeRequest h2 {
  color: #cdb578;
  font-size: 25px;
  margin: 0;
  font-weight: 800;
}
.homePageBack .mainHomeRequest span {
  font-size: 13px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 100;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .mainHomeRequestInnerForm {
  width: 40%;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest {
  text-align: right;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest h4 {
  font-weight: 400;
  margin: 0;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest p {
  margin: 10px 0 40px 0;
  width: 90%;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input:focus {
  outline: none;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=text] {
  width: 100%;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 8px 0;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=text]::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: "yekanbakhweb" !important;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=text]::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: "yekanbakhweb" !important;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=email] {
  width: 100%;
  color: white;
  background-color: #282828;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  direction: rtl;
  padding: 8px 0;
  background: transparent;
  font-family: "yekanbakhweb" !important;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=email]::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=email]::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest input[type=submit] {
  font-family: "yekanbakhweb" !important;
  background-color: #cdb578;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}
.homePageBack .mainHomeRequest .mainHomeRequestInnerText .formRequest div p {
  text-align: right;
}

.aboutPageBack .mainView {
  max-width: 1280px;
  margin: auto;
}
.aboutPageBack .mainView .introSection {
  text-align: center;
}
.aboutPageBack .mainView .introSection img {
  border-radius: 10px;
  margin: 10px 0 0 0;
}
.aboutPageBack .mainView .introSection .titles {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.aboutPageBack .mainView .introSection .titles .titleOne {
  width: 48%;
  text-align: right;
}
.aboutPageBack .mainView .introSection .titles .titleOne p {
  line-height: 30px;
  font-size: 14px;
  color: rgb(77, 77, 77);
}
.aboutPageBack .mainView .introSection .titles .titleTwo {
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutPageBack .mainView .introSection .titles .titleTwo .borderRight {
  border-right: 3px solid rgb(157, 157, 157);
}
.aboutPageBack .mainView .introSection .titles .titleTwo div {
  padding: 0 30px;
}
.aboutPageBack .mainView .introSection .titles .titleTwo div span {
  font-size: 18px;
  font-weight: 700;
}
.aboutPageBack .mainView .introSection .titles .titleTwo div h2 {
  font-size: 45px;
  margin: 10px 0 0 0;
}
.aboutPageBack .mainView .introSection .titles h2 {
  color: #002D64;
}
.aboutPageBack .mainView .main {
  margin: 50px 0;
}
.aboutPageBack .mainView .main .row {
  margin: 60px 0;
}
.aboutPageBack .mainView .main .title h4 {
  color: #002D64;
  margin: 15px 10px;
  font-size: 18px;
}
.aboutPageBack .mainView .main .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutPageBack .mainView .main .cards .card {
  border: 1px solid rgba(176, 176, 176, 0.715);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.aboutPageBack .mainView .main .cards .card img {
  border-radius: 10px;
}
.aboutPageBack .mainView .main .cards .card h3 {
  margin: 0;
  color: #002D64;
}
.aboutPageBack .mainView .main .cards .card span {
  font-size: 14px;
  color: gray;
  font-weight: 500;
}
.aboutPageBack .mainView .main .cards .card div.svg {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutPageBack .mainView .main .cards .card div.svg a {
  display: flex;
}

.mainArchiveGridWrapper {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainArchiveGridWrapper a {
  margin: 12px 0;
  border-radius: 10PX;
  overflow: hidden;
  width: 39%;
  height: 300px;
  color: white;
  position: relative;
}
.mainArchiveGridWrapper a:nth-child(4n), .mainArchiveGridWrapper a:nth-child(1), .mainArchiveGridWrapper a:nth-child(4n+1) {
  width: 59%;
}
.mainArchiveGridWrapper a img {
  width: 100%;
  height: 100%;
}
.mainArchiveGridWrapper a .projectCard {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 90;
  background: linear-gradient(rgba(19, 19, 19, 0.374), rgba(40, 40, 40, 0.92));
  display: flex;
  align-items: flex-end;
  color: w;
}
.mainArchiveGridWrapper a .projectCard h4 {
  margin: 20px;
  font-size: 20px;
}

.projectPageBack .mainView {
  max-width: 1280px;
  margin: auto;
  color: white;
}
.projectPageBack .mainView .singleBox {
  max-width: 1100px;
  margin: auto;
}
.projectPageBack .mainView .singleBox .mahtabproject {
  text-align: center;
  margin: 50px 0;
}
.projectPageBack .mainView .singleBox .mahtabproject .swiper-pagination {
  position: unset !important;
}
.projectPageBack .mainView .singleBox .mahtabproject .swiper-pagination span {
  background: white;
  opacity: 100%;
}
.projectPageBack .mainView .singleBox .mahtabproject .swiper-pagination .swiper-pagination-bullet-active {
  background: #cdb578;
}
.projectPageBack .mainView .singleBox .mahtabproject .projetSwiperImg {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.projectPageBack .mainView .singleBox .mahtabproject .projetSwiperImg img {
  -o-object-fit: cover;
     object-fit: cover;
}
.projectPageBack .mainView .singleBox .mahtabproject h1 {
  color: #cdb578;
}
.projectPageBack .mainView .singleBox .descriptionProjectnOne h2 {
  color: #cdb578;
  font-size: 20px;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo .descriptionProjectClip {
  width: 64%;
  border-radius: 10px;
  overflow: hidden;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo .descriptionProjectClip img {
  display: block;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo .descriptionProjectText h2 {
  color: #cdb578;
  margin: 0;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo .descriptionProjectText h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo .descriptionProjectText div {
  margin: 22px 0;
}
.projectPageBack .mainView .singleBox .descriptionProjectTwo .descriptionProjectText div p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.mainFooterBack {
  background-color: #1e1e1e;
  padding: 50px 20px;
}
.mainFooterBack .mainFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
}
.mainFooterBack .mainFooter h3 {
  color: #cdb578;
  font-size: 20px;
}
.mainFooterBack .mainFooter path, .mainFooterBack .mainFooter circle {
  fill: #cdb578;
}
.mainFooterBack .mainFooter .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}
.mainFooterBack .mainFooter .row p {
  margin: 0 5px;
  max-width: 85%;
}
.mainFooterBack .mainFooter .classfooterColumn1 {
  width: 30%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn1 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn1 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .classfooterColumn2 {
  width: 15%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn2 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn2 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .classfooterColumn3 {
  width: 15%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn3 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn3 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .classfooterColumn4 {
  width: 35%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn4 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn4 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter a, .mainFooterBack .mainFooter p {
  font-size: 16px;
  font-weight: 300;
}
.mainFooterBack .mainFooter li {
  list-style: none;
  margin: 5px 0;
  position: relative;
  padding-right: 12px;
}
.mainFooterBack .mainFooter li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #cdb578;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}
.mainFooterBack .mainView {
  max-width: 1280px;
  margin: auto;
}
.mainFooterBack .NewslettersTell {
  border: 1px solid white;
  border-radius: 10px;
  max-width: 80%;
  color: white;
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  margin: 15px 0;
}
.mainFooterBack .NewslettersTell p {
  margin: 0;
}
.mainFooterBack input[type=tel] {
  background-color: transparent;
  direction: rtl;
  padding: 10px 7px;
  border: none;
  margin-right: 10px;
  width: 100%;
  color: white;
}
.mainFooterBack input[type=tel]::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: "yekanbakhweb" !important;
}
.mainFooterBack input[type=tel]::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: "yekanbakhweb" !important;
}
.mainFooterBack input:focus {
  outline: none;
}
.mainFooterBack input[type=submit] {
  background-color: transparent;
  border: none;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 900;
  width: 100%;
  margin-top: 6px;
}
.mainFooterBack input[type=submit]::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.mainFooterBack input[type=submit]::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.mainFooterBack .svg {
  position: relative;
}
.mainFooterBack .svg svg {
  position: absolute;
  top: 12px;
  left: 23%;
}
.mainFooterBack .bottomFormSvg svg {
  margin-left: 15px;
}/*# sourceMappingURL=style-rtl.css.map */