@import 'sass/breakpoints';
*{
    box-sizing: border-box;
}
body{
    font-family: 'yekanbakhweb';
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.mainHeaderBack{
    background-color: #282828;
    color: white;
    .mainHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menuSection{
            ul{
                display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style: none;
                padding: 5px 10px;
                font-weight: 600;
                ul{
                    position: absolute;
                    background-color: white;
                    color: black;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 10px;
                    margin-top: 5px;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    visibility: hidden;
                    
                    li{
                        border-bottom: 1px solid black;
                    }
                    #menu-item-29{
                        border: none;
                    }
                }
                &:hover ul{
                    visibility: visible;
                }
            }
            }
            #menu-item-21{
                color: #cdb578;
                font-weight: 700;
            }
        }
        .signSection{
            display: flex;
            align-items: center;
            svg{
                margin-right: 20px;
                path,circle{
                    fill: white;
                   }
            }
        }
        
    }
    .mainView{
        max-width: 1280px;
        margin: auto;
    }
    svg{

    }
}

.mainFooterBack{
    background-color: #1e1e1e;
    padding: 50px 20px;
    .mainFooter{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        color: white;
        h3{
        color: #cdb578;
        font-size: 20px;
        }
        path,circle{
         fill: #cdb578;
        }
        
        .row{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                margin: 5px;
                max-width: 85%;
            }
        } 
        .classfooterColumn1{
            width: 30%;
            
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            } 
        }
        .classfooterColumn2{
            width: 15%;
            
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            }
        }
        .classfooterColumn3{
            width: 15%;
            
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            }
        }
        .classfooterColumn4{
            width: 35%;
            svg{}
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            }
        }
        a,p{
            font-size: 16px;
            font-weight: 300;
        }
        li{
            list-style: none;
            margin: 5px 0;
            position: relative;
            padding-right: 12px;
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: #cdb578;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                right: 0;
            }
        }
    }
    .mainView{
        max-width: 1280px;
        margin: auto;
    }
    .NewslettersTell{
        border: 1px solid white;
        border-radius: 10px;
        max-width: 80%;
        color: white;
        display: flex;
        justify-content: space-between;
        max-height: 40px;
        margin: 15px 0;
        p{
            margin: 0;
        }
    }
    input[type="tel"] {
        background-color:#1e1e1e ;
        direction: rtl;
        padding: 10px 7px;
        border: none;
        margin-right: 10px;
        width: 100%;
        color: white;
        &::placeholder{
            color: white;
            font-size: 14px;
            font-weight: 200;
            font-family: 'yekanbakhweb' !important;
        }
    }
    input:focus {
        outline: none;
    }
    input[type="submit"] {
        background-color:#1e1e1e ;
        border: none;
        color: #1e1e1e;
        font-size: 18px;
        font-weight: 900;
        width: 100%;
        margin-top: 6px;
        &::placeholder{
            color: white;
            font-size: 14px;
            font-weight: 200;
            
        }
    }
    
    .svg{
        position: relative;
        svg{
            position: absolute;
            top: 11px;
            left: 23%;
        }
    }
}