@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "yekanbakhweb";
  src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBlack.woff2");
  font-weight: 910;
}
body {
  font-family: "yekanbakhweb";
}

.mainFooterBack {
  background-color: #1e1e1e;
  padding: 50px 20px;
}
.mainFooterBack .mainFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
}
.mainFooterBack .mainFooter h3 {
  color: #cdb578;
  font-size: 20px;
}
.mainFooterBack .mainFooter path, .mainFooterBack .mainFooter circle {
  fill: #cdb578;
}
.mainFooterBack .mainFooter .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mainFooterBack .mainFooter .row p {
  margin: 5px;
  max-width: 85%;
}
.mainFooterBack .mainFooter .classfooterColumn1 {
  width: 30%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn1 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn1 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .classfooterColumn2 {
  width: 15%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn2 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn2 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .classfooterColumn3 {
  width: 15%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn3 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn3 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .classfooterColumn4 {
  width: 35%;
}
@media screen and (max-width: 992px) {
  .mainFooterBack .mainFooter .classfooterColumn4 {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .classfooterColumn4 {
    width: 100%;
  }
}
.mainFooterBack .mainFooter a, .mainFooterBack .mainFooter p {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 300;
}
.mainFooterBack .mainFooter li {
  list-style: none;
  margin: 5px 0;
  position: relative;
  padding-right: 12px;
}
.mainFooterBack .mainFooter li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #cdb578;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}
.mainFooterBack .mainView {
  max-width: 1280px;
  margin: auto;
}
.mainFooterBack .NewslettersTell p {
  border: 1px solid white;
  border-radius: 10px;
  max-width: 80%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.mainFooterBack input[type=tel] {
  background-color: #1e1e1e;
  direction: rtl;
  padding: 10px 7px;
  border: none;
  margin-right: 10px;
}
.mainFooterBack input[type=tel]::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.mainFooterBack input[type=tel]::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.mainFooterBack input[type=submit] {
  background-color: #1e1e1e;
  border: none;
  color: #cdb578;
  font-size: 18px;
  font-weight: 900;
}
.mainFooterBack input[type=submit]::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.mainFooterBack input[type=submit]::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 200;
}/*# sourceMappingURL=style-rtl.css.map */