@import 'sass/breakpoints';
*{
    box-sizing: border-box;
}
body{
    font-family: 'yekanbakhweb';
    margin: 0;
    background-color: #282828;
    background-image: url("img/plano_tehran.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y:bottom ;
}
a{
    color: inherit;
    text-decoration: none;
}
.mainHeaderBack{
    color: white;
    .mainHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menuSection{
            ul{
                display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style: none;
                padding: 5px 10px;
                font-weight: 600;
                ul{
                    z-index: 100;
                    position: absolute;
                    background-color: white;
                    color: black;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 10px;
                    margin-top: 5px;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.2s;
                    :last-child{
                        border: none;
                    }
                    li{
                        border-bottom: 1px solid black;
                        a{
                            font-weight: 300;
                        }
                    }
                }
                &:hover ul{
                    visibility: visible;
                    opacity: 1;
                }
            }
            }
            #menu-item-21{
                color: #cdb578;
                font-weight: 700;
            }
        }
        .signSection{
            display: flex;
            align-items: center;
            svg{
                margin-right: 20px;
                path,circle{
                    fill: white;
                   }
            }
        }
        
    }
    .mainView{
        max-width: 1280px;
        margin: auto;
    }
    svg{

    }
}
.homePageBack{
    .mainHome{ 
        color: white;
        max-width: 1280px;
        margin: auto;
        .holdingZar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
              width: 35%;
              text-align: right;
              h2{
                font-size: 40px;
                margin-bottom: 0;
              }
              span{
                color: #cdb578;
                display: block;
              }
              a{
                margin-left: 15px;
                padding: 5px 10px;
                // font-size: 18px;
              }
              a.readMore{
                background-color: #cdb578;
                color: black;
                border-radius: 7px;
              }
            }
            .img{
              width: 62%;
              position: relative;
              .row{
                border-radius: 0 10px 10px 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                bottom: 8px;
                width: 100%;
                background:liner-gradient(rgba(0,0,0,0.42),rgba(255,255,255,0.22)) !important;
                backdrop-filter: blur(60.6804px);
                div{
                    padding: 15px 0;
                }
                h3{
                    text-align: center;
                  font-size: 33px;
                  font-weight: 900;
                  margin: 0;
                  color: #cdb578;
                }
                p{
                    margin: 0;
                }
              }
            }
        }
        .ourServices{
            padding: 150px 0;
            text-align: center;
            h2{
                color: #cdb578;
                font-size: 25px;
                margin: 0;
                font-weight: 800;
            }
            p{
                font-size: 13px;
                text-align: center;
                margin-bottom: 50px;
                font-weight: 100;
            }
            .swiper-pagination{
                position: unset !important;
                span{
                    background: white;
                    opacity: 100%;
                }
                .swiper-pagination-bullet-active{
                    background: #cdb578;
                }
            }
            .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            .card{
                width: 23%;
                height: auto;
                border: 1px solid rgba(255, 255, 255, 0.484) ;
                border-radius: 10px;
                background-image: linear-gradient(rgba(19, 19, 19, 0.651), rgb(40, 40, 40));
                padding: 50px 0;
                path,circle{
                    fill: #cdb578;
                   }
                h3{
                    font-size: 16px;
                    font-weight: 600;
                }
                p{
                    margin: 0;
                    padding: 0 30px;
                }
                }
            }
        }
        .holdingServices{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text{
                width: 45%;
                h4{
                    font-size: 14px;
                    font-weight: 300;
                }
                h2{
                    font-size: 40px;
                    margin: 15px 0;
                    span{
                        color: #cdb578;
                    }
                }
                p{
                    font-size: 15px;
                    line-height: 28px;
                    font-weight: 300;
                    margin: 10px 0 25px;
                }
                a{
                    border: 1px solid white;
                    padding: 8px 18px;
                    border-radius: 10px;
                    
                }
            }
        }
        .ourProject{
            padding: 75px 0;
            text-align: center;
            h2{
                color: #cdb578;
                font-size: 25px;
                margin: 0;
                font-weight: 800;
            }
            p{
                font-size: 13px;
                text-align: center;
                margin-bottom: 50px;
                font-weight: 100;
            }
            a{
                text-align: left;
                display: block;
            }
            .swiper-pagination{
                position: unset !important;
                span{
                    background: white;
                    opacity: 100%;
                }
                .swiper-pagination-bullet-active{
                    background: #cdb578;
                }
            }
            .cards{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
                margin-top: 10px;
            }
            .card{
                width: 23%;
                height: 400px;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                transition: .3s; 
                &:hover .gradient {
                    top: 40% !important;

                }
                &:hover {
                    transform: translateY(-20px);
                    .svgOne{
                        visibility: hidden;
                        opacity: 0% !important;
                    }
                    .svgTwo{
                        visibility: visible !important;
                        opacity: 100% !important;
                    }
                }
                img{
                    object-fit: cover;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h3{
                        font-size: 25px;
                        font-weight: 500;
                    }
                    span{
                        position: absolute;
                        // display: flex;
                        top: 10px;
                        right: 10px;
                        .svgTwo{
                            opacity: 0%;
                            visibility: hidden;
                            transition: .3s;
                            transform: translateX(45px);
                        }
                        .svgOne{
                            opacity: 100%;
                            transition: .3s;
                        }
                    }
                    .gradient{
                        width: 100%;
                        height: 70%;
                        position: absolute;
                        top: 60%;
                        right: 0;
                        background: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0));
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        transition: .3s !important;
                        p{
                            padding: 0 20px;
                        }
                        
                    }
                }
            }
        }
        .request{
            padding: 75px 0;
            text-align: center;
            
            h2{
                color: #cdb578;
                font-size: 25px;
                margin: 0;
                font-weight: 800;
            }
            p{
                font-size: 13px;
                text-align: center;
                margin-bottom: 50px;
                font-weight: 100;
            }
            .main{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .form{
                    width: 40%;
                }
                .formRequest{
                    text-align: right;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    h4{
                        font-weight: 400;
                        margin: 0;
                    }
                    p{
                        margin: 10px 0 40px 0;
                        width: 90%;
                    }
                    input:focus {
                        outline: none;
                    }
                    input[type="text"] {
                        width: 100%;
                        color: white;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
                        padding: 8px 0;
                        &::placeholder{
                            color: white;
                            font-size: 14px;
                            font-weight: 200;
                            font-family: 'yekanbakhweb' !important;
                        }
                    }
                    input[type="email"] {
                        width: 100%;
                        color: white;
                        background-color: #282828;
                        border: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
                        direction: rtl;
                        padding: 8px 0;
                        background: transparent;
                        font-family: 'yekanbakhweb' !important;
                        &::placeholder{
                            color: white;
                            font-size: 14px;
                            font-weight: 200;
                            
                        }
                        
                    }
                    input[type="submit"] {
                        font-family: 'yekanbakhweb' !important;
                        background-color: #cdb578;
                        padding: 10px 15px;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 10px;
                    }
                    div{
                        p{
                            text-align: right;
                        }
                    }
                }
            }
            
            
        }

    }
}
.aboutPageBack{
    .mainView{
        max-width: 1280px;
        margin: auto;
        .introSection{
            text-align: center;
            img{
                border-radius: 10px;
                margin: 10px 0 0 0;
            }
            .titles{
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                .titleOne{
                    width: 48%;
                    text-align: right;
                    p{
                        line-height: 30px;
                        font-size: 14px;
                        color: rgb(77, 77, 77);
                    }
                }
                .titleTwo{
                    width: 44%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .borderRight{
                        border-right: 3px solid rgb(157, 157, 157);
                    }
                    div{
                        padding: 0 30px;
                        span{
                            font-size: 18px;
                            font-weight: 700;
                        }
                        h2{
                            font-size: 45px;
                            margin: 10px 0 0 0 ;
                        }
                    }
                }
                h2{
                    color: #002D64;
                }
            }
        }
        .main{
            margin: 50px 0;
            .row{
                margin: 60px 0;
            }
            .title{
                h4{
                    color: #002D64;
                    margin: 15px 10px;
                    font-size: 18px;
                }
            }
            .cards{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card{
                    border: 1px solid rgba(176, 176, 176, 0.715);
                    padding: 15px;
                    border-radius: 10px;
                    text-align: center;
                    img{
                        border-radius: 10px;
                    }
                    h3{
                        margin: 0;
                        color: #002D64;
                    }
                    span{
                        font-size: 14px;
                        color: gray;
                        font-weight: 500;
                    }
                    div.svg{
                        margin-top: 8px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
.mainArchiveGridWrapper{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // display: grid;
    // grid-template-columns: auto auto ;
    // gap: 20px;
    
    a{  
        margin: 12px 0;
        border-radius: 10PX;
        overflow: hidden;
        width: 39%;
        height: 300px;
        color: white;
        
        &:nth-child(4n),&:nth-child(1),&:nth-child(4n+1){
            width: 59%;
        }
        img{
            width: 100%;
            height: 100%;
        }
        position: relative;
        .projectCard{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 90;
            background: linear-gradient(rgba(19, 19, 19, 0.374),rgba(40, 40, 40, 0.92));
            display: flex;
            align-items: flex-end;
            color: w;
            h4{
              margin: 20px; 
              font-size: 20px; 
            }
        }
    }
}
.mainFooterBack{
    background-color: #1e1e1e;
    padding: 50px 20px;
    .mainFooter{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        color: white;
        h3{
        color: #cdb578;
        font-size: 20px;
        }
        path,circle{
         fill: #cdb578;
        }
        
        .row{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 10px 0;
            svg{}
            p{
                margin: 0 5px;
                max-width: 85%;
            }
        } 
        .classfooterColumn1{
            width: 30%;
            
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            } 
        }
        .classfooterColumn2{
            width: 15%;
            
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            }
        }
        .classfooterColumn3{
            width: 15%;
            
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            }
        }
        .classfooterColumn4{
            width: 35%;
            svg{}
            @include md {
                width: 50%;
            }
            @include xs {
                width: 100%;
            }
        }
        a,p{
            font-size: 16px;
            font-weight: 300;
        }
        li{
            list-style: none;
            margin: 5px 0;
            position: relative;
            padding-right: 12px;
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: #cdb578;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                right: 0;
            }
        }
    }
    .mainView{
        max-width: 1280px;
        margin: auto;
    }
    .NewslettersTell{
        border: 1px solid white;
        border-radius: 10px;
        max-width: 80%;
        color: white;
        display: flex;
        justify-content: space-between;
        max-height: 40px;
        margin: 15px 0;
        p{
            margin: 0;
        }
    }
    input[type="tel"] {
        background-color:#1e1e1e ;
        direction: rtl;
        padding: 10px 7px;
        border: none;
        margin-right: 10px;
        width: 100%;
        color: white;
        &::placeholder{
            color: white;
            font-size: 14px;
            font-weight: 200;
            font-family: 'yekanbakhweb' !important;
        }
    }
    input:focus {
        outline: none;
    }
    input[type="submit"] {
        background-color:#1e1e1e ;
        border: none;
        color: #1e1e1e;
        font-size: 18px;
        font-weight: 900;
        width: 100%;
        margin-top: 6px;
        &::placeholder{
            color: white;
            font-size: 14px;
            font-weight: 200;
            
        }
    }
    
    .svg{
        position: relative;
        svg{
            position: absolute;
            top: 11px;
            left: 23%;
        }
    }
}
